  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom,  #007d3c);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin-top: 100px;
    font-size: 45px;
    font-weight: bold;
  }

  h1 span:first-child {
    color: #00aaff;
  }

  h1 span:last-child {
    color: #ffff33;
  }


  table {
    border-collapse: collapse;
    width: 80%;
    max-width: 900px;
    background-color: rgba(249, 240, 240, 0.04);
    border-radius: 10px;
    overflow: hidden;
  }

  th, td {
    text-align: center;
    padding: 15px;
  }

  th {
    background-color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }

  tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
  }

  td:nth-child(4) {
    font-weight: bold;
  }

  td.highlight {
    background-color: yellow;
    color: black;
  }

  @media (max-width: 600px) {
    table {
      width: 100%;
      font-size: 12px;
    }
  }